<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="isc-apptools.ZPM">
    <Module>
      <Name>isc-apptools</Name>
      <Version>1.0.5</Version>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="App.PKG"/>
	</Module>
	  <CSPApplication 
        Url="/apptools"
        Recurse="1"
        SourcePath="/csp/"
        DeployPath="{$cspdir}/apptools" 
        MatchRoles=":{$dbrole}"
        PasswordAuthEnabled="0"
        UnauthenticatedEnabled="0"
        ServeFiles="1"
        CookiePath="/apptools"
        UseCookies="2"
       />
      <CSPApplication 
        Url="/apptoolsrest"
        Recurse="1"
        MatchRoles=":{$dbrole}"
        PasswordAuthEnabled="0"
        UnauthenticatedEnabled="0"
        DispatchClass="App.rest"
        ServeFiles="1"
        CookiePath="/apptools"
        UseCookies="2"
       />
  </Document>
</Export>