<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="isc-apptools.ZPM">
    <Module>
      <Name>isc-apptools</Name>
      <Version>1.0.5</Version>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="apptools.PKG"/>
    </Module>
    
  </Document>
</Export>