<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="isc-apptools-admin.ZPM">
    <Module>
      <Name>isc-apptools-admin</Name>
      <Version>1.0.8</Version>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
        <Resource Name="App.PKG"/>
        
        <CSPApplication 
            SourcePath="/web"
            DeployPath="${cspdir}/apptools"
            Url="/apptools" 
            ServeFiles="1"
            CookiePath="/apptools/"
            PasswordAuthEnabled="1"
            AuthenticationMethods="32" 
            MatchRoles=":%DB_${Namespace}"
            Recurse="1"/>
        
        <CSPApplication
            Url="/apptoolsrest"
            CookiePath="/apptools/"
            PasswordAuthEnabled="1"
            AuthenticationMethods="32" 
            MatchRoles=":%DB_${Namespace}"
            DispatchClass="App.rest"/>
            
    </Module>
  </Document>
</Export>